<header>
    <nav class="navbar navbar-expand-sm navbar-dark darkblue-bg p-2">
        <a class="navbar-brand" href="/">CKAN Data Analysis</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link <% if (linkActive === 'home') { %> active <% } %>" href="/">Home</a>
            <a class="nav-item nav-link" href="https://ckan.org/" title="Go to CKAN website" target="_blank">About CKAN</a>
        </div>
    </nav>
</header>