<header>
    <nav class="navbar navbar-expand-sm navbar-dark blue-color-bg p-2">
        <a class="navbar-brand" href="/">CKAN Data Analysis</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link <% if (linkActive === 'home') { %> active <% } %>" href="/">Home</a>
            <a class="nav-item nav-link <% if (linkActive === 'menu') { %> active <% } %>" href="/menu">Menu</a>
        </div>
    </nav>
</header>