<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="lightblue-bg">
    <%- include('../partials/header'); %>

    <main>
        <section class="container justify-content-center p-4">
            <div class="row row-cols-md-2">
                <div class="col">
                    <div class="card bg-light h-100 rounded-3">
                        <img class="card-img-top" src="/images/data_analysis.jpg" alt="data_analysis.jpg" />
                        <div class="card-body">
                            <h4 class="card-title">Analyse portals</h4>
                            <p class="card-text mb-0">
                                Analyse the quality of open datasets available on CKAN platform in just a few steps.<br>
                                Choose between analysing:
                            </p>
                            <ul>
                                <li>portals</li>
                                <li>datasets</li>
                                <li>organizations</li>
                            </ul>
                        </div>
                        <div class="card-footer btn">
                            <a class="link-dark" href="/menu" title="Start analysing data">Start analysing data</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light h-100 rounded-3">
                        <img class="card-img-top" src="/images/question_marks.png" alt="question_marks.jpg" />
                        <div class="card-body">
                            <h4 class="card-title">About CKAN</h5>
                            <p class="card-text">
                                CKAN is the world’s leading Open Source data portal platform.<br>
                                It is a powerful data management system that makes data easily accessible.
                                CKAN collects data all around the world and has simplified its publishig,
                                sharing, finding and using.</p>
                        </div>
                        <div class="card-footer btn">
                            <a class="link-dark" href="https://ckan.org/" title="Go to CKAN website" target="_blank">
                                Go to CKAN website
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer'); %>

    <%- include('../partials/external_scripts'); %>
</body>