<div class="card align-items-center justify-content-center bg-light rounded-3 m-1 w-100">
    <h2 class="class-title">Accessibility</h2>
    <div class="card-body">
        <p class="text-center">These indicators show how easy it is for people and machines to access data</p>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <% if (chart.maxPointsDataset > 0) { %>
                <div><canvas id="datasetAccessibilityChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if (chart.maxPointsUrl> 0) { %>
                <div><canvas id="urlAccessibilityChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if (chart.maxPointsDownload> 0) { %>
                <div><canvas id="downloadUrlChart" class="smaller-chart"></canvas></div>
            <% } %>
        </div>
    </div>
    <%- include('./missing_params'); %>
</div>

<script type="module" src="/scripts/charts/accessibility.js"></script>