<div class="card align-items-center justify-content-center bg-light rounded-3 m-1 w-100">
    <h2 class="class-title">Accessibility</h2>
    <div class="card-body">
        <p class="text-center">These indicators show how easy it is for people and machines to access data</p>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div><canvas id="datasetAccessibilityChart" class="smaller-chart"></canvas></div>
            <div><canvas id="urlAccessibilityChart" class="smaller-chart"></canvas></div>
            <div><canvas id="downloadUrlChart" class="smaller-chart"></canvas></div>
        </div>
    </div>
    <% if(objectData.result.findChart.missing_params.size> 0 && !objectData.result.findChart.missing_params.has('')) { %>
        <div>Missing parameters are:
            <ul class="list-group list-group-flush list-group-horizontal">
                <% objectData.result.findChart.missing_params.forEach(function(param) { %>
                    <li class="list-group-item bg-light"><span class="fw-bold"><%= param %></span></li>
                <% }) %>
            </ul>
        </div>
        <% } %>
</div>

<script type="module" src="/scripts/charts/accessibility.js"></script>