<div class="card align-items-center justify-content-center bg-light rounded-3 m-1 w-100">
    <h2 class="class-title">Contextuality</h2>
    <div class="card-body">
        <p class="text-center">These indicators show the quality of data</p>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <% if(chart.max_num_of_res> 0) { %>
                <div><canvas id="numOfResourcesChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_file_size> 0) { %>
                <div><canvas id="fileSizeChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_empty > 0) { %>
                <div><canvas id="emptyDataChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_date_of_issue> 0) { %>
                <div><canvas id="dateOfIssueChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_modification_date> 0) { %>
                <div><canvas id="modificationDateChart" class="smaller-chart"></canvas></div>
            <% } %>
        </div>
    </div>
    <%- include('./missing_params'); %>
</div>

<script type="module" src="/scripts/charts/contextuality.js"></script>