<div class="card align-items-center justify-content-center bg-light rounded-3 m-1 w-100">
    <h2 class="class-title">Findability</h2>
    <div class="card-body">
        <p class="text-center">These indicators show how easy it is for people and machines to find data</p>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <% if(chart.maxPointsID> 0) { %>
                <div><canvas id="identificationChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.maxPointsKeywords> 0) { %>
                <div><canvas id="keywordsChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.maxPointsCategories> 0) { %>
                <div><canvas id="categoriesChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.maxPointsState> 0) { %>
                <div><canvas id="stateChart" class="smaller-chart"></canvas></div>
            <% } %>
        </div>
    </div>
    <%- include('./missing_params'); %>
</div>

<script type="module" src="/scripts/charts/findability.js"></script>