<div class="card align-items-center justify-content-center bg-light rounded-3 m-1 w-100">
    <h2 class="class-title">Interoperability</h2>
    <div class="card-body">
        <p class="text-center">These indicators show how easy it is to access data as external sources</p>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <% if(chart.max_format> 0) { %>
                <div><canvas id="formatChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_format_div> 0) { %>
                <div><canvas id="formatDiversityChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_comp> 0) { %>
                <div><canvas id="compatibilityChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_machine_readable> 0) { %>
                <div><canvas id="machineReadableChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_lod > 0) { %>
                <div><canvas id="linkedOpenDataChart" class="smaller-chart"></canvas></div>
            <% } %>
        </div>
    </div>
    <%- include('./missing_params'); %>
</div>

<script type="module" src="/scripts/charts/interoperability.js"></script>