<div class="card align-items-center justify-content-center bg-light rounded-3 m-1">
    <h2 class="class-title">Overall Rating</h2>
    <div class="card-body d-flex flex-row">
        <div>
            <h4 class="text-center"><%= overallResults.grade %></h4>
            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item bg-light">
                Percentage: <span class="fw-bold"><%= overallResults.percentage.toFixed(2) %>%</span>    
                </li>
                <li class="list-group-item bg-light">
                    Earned points: <span class="fw-bold"><%= overallResults.earned.toFixed(2) %></span>
                </li>
                <li class="list-group-item bg-light">
                    MAX points: <span class="fw-bold"><%= overallResults.max %></span>
                </li>
            </ul>
        </div>
        <div><canvas id="ratingsChart"></canvas></div>
    </div>
</div>

<script type="module" src="/scripts/charts/rating.js"></script>