<div class="card align-items-center justify-content-center bg-light rounded-3 m-1 w-100">
    <h2 class="class-title">Reusability</h2>
    <div class="card-body">
        <p class="text-center">These indicators show how easy it is to reuse available data</p>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <% if(chart.max_license> 0) { %>
                <div><canvas id="licenseChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_basic_info> 0) { %>
                <div><canvas id="basicInfoChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_extras> 0) { %>
                <div><canvas id="extrasChart" class="smaller-chart"></canvas></div>
            <% } %>
            <% if(chart.max_publisher> 0) { %>
                <div><canvas id="publisherChart" class="smaller-chart"></canvas></div>
            <% } %>
        </div>
    </div>
    <%- include('./missing_params'); %>
</div>

<script type="module" src="/scripts/charts/reusability.js"></script>