html {
    height: 100%;
}

body {
    min-height: 100%;
}

.lightblue-bg {
    background-color: #e3f2fd;
}

.white-bg {
    background-color: white;
}

.darkblue-bg {
    background-color: #094977;
}

.darkred-font {
    color: rgb(129, 2, 2);
}

.error-font {
    color: red;
}

canvas.smaller-chart {
    height: 85%;
    width: 85%;
}

.accordion-list-div {
    max-height: 300px;
    min-width: 75%;
}