html {
    height: 100%;
}

body {
    min-height: 100%;
}

.primary-color-bg {
    background-color: rgba(231, 231, 231, 0.89);
}

.secondary-color-bg {
    background-color: white;
}

.goldish-color-bg {
    background-color: rgba(226, 195, 117, 0.712);
}

.redish-font {
    color: rgb(129, 2, 2);
}

.error-font {
    color: red;
}

.darkpurple-font {
    color: rgb(43, 22, 63);
}

span.bigger-font {
    font-size: 2em;
}

.container {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(14, 14, 14, 0.342), 0 6px 20px 0 rgba(14, 14, 14, 0.342);
}

.centered-flex {
    display: flex;
    align-items: center;
    justify-items: center;
}

hr.dotted {
    border-top: 2px dotted rgba(110, 243, 243, 0.801);
    width: 100%;
}

.vertical-flex {
    flex-direction: column;
}