html {
    height: 100%;
}

body {
    min-height: 100%;
}

.lightblue-bg {
    background-color: #e3f2fd;
    /* background-color: #71c495 */
}

.white-bg {
    background-color: white;
}

.darkblue-bg {
    background-color: #094977;
}

.darkred-font {
    color: rgb(129, 2, 2);
}

.error-font {
    color: red;
}

.italic-font {
    font-style: italic;
}

span.bigger-font {
    font-size: 2em;
}

.slightly-bigger-text {
    font-size: 1.2em;
}

hr.dotted {
    border-top: 2px dotted rgba(110, 243, 243, 0.801);
    width: 100%;
}

.pre-not-styled {
    font-family: inherit;
}

li {
    list-style-type: square;
}

li::marker {
    color: blue;
}

ul.list-in-two-columns {
    column-count: 2;
}

ul.list-in-five-columns {
    column-count: 5;
}

.light-border {
    border: 1px solid rgba(0, 0, 0, .125);
}