<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
</head>

<body class="primary-color-bg">
    
    <main>
        <section class="tabs-with-circles">
            <div class="tab container goldish-color-bg">
                <div class="image-container">
                    <img class="circle-image" src="/images/data_analysis.jpg" alt="data_analysis.jpg" />
                </div>
                <div class="tab-text">
                    <span class="bigger-font">
                        <a class="tab-link redish-font" href="/menu" title="Start analysing data">
                            Analyse portals
                        </a>
                    </span>
                    <p class="tab-paragraph darkpurple-font">
                        Analyse the quality of open datasets available on CKAN platform in just a few steps.<br>
                        Choose between analysing:<br>
                        &nbsp;&nbsp;&nbsp;&nbsp; - portals<br>
                        &nbsp;&nbsp;&nbsp;&nbsp; - datasets<br>
                        &nbsp;&nbsp;&nbsp;&nbsp; - organizations<br>
                    </p>
                </div>
            </div>
            <div class="tab container goldish-color-bg tab-reversed">
                <div class="image-container">
                    <img class="circle-image" src="/images/question_marks.jpg" alt="question_marks.jpg" />
                </div>
                <div class="tab-text">
                    <span class="bigger-font">
                        <a class="tab-link redish-font" href="https://ckan.org/" 
                            title="Go to CKAN website" target="_blank"
                        >
                            About CKAN
                        </a>
                    </span>
                    <p class="tab-paragraph darkpurple-font">
                        CKAN is the world’s leading Open Source data portal platform.<br>
                        It is a powerful data management system that makes data easily accessible.
                        CKAN collects data all around the world and has simplified its publishig,
                        sharing, finding and using.
                    </p>
                </div>
            </div>
        </section>
    </main>

</body>