<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/menu.css">
</head>

<body class="primary-color-bg">

    <main class="centered-flex vertical-flex">
        <% if(success === false) { %>
        <section class="errors container secondary-color-bg error-font">
            <span>
                Error: <%= error ? error : errors[0].msg %> (please try again)
            </span>
        </section>
        <% } %>
            <section class="forms container goldish-color-bg darkpurple-font">
                <span class="form-title redish-font">Choose analysis option</span>
                <div class="menu-form">
                    <form action="/menu/portal" method="POST">
                            <label for="url">URL of a CKAN portal</label>
                            <input type="text" id="url" name="url" placeholder="Insert URL...">
                            <input class="darkpurple-font" type="submit">
                    </form>
                </div>
                <hr class="dotted" />
                <div class="menu-form">
                    <form action="/menu/dataset" method="POST">
                            <label for="url">URL of a single dataset</label>
                            <input type="text" id="url" name="url" placeholder="Insert URL...">
                            <input class="darkpurple-font" type="submit">
                    </form>
                </div>
                <hr class="dotted" />
                <div class="menu-form">
                    <form action="/menu/organization" method="POST">
                            <label for="url">URL of a organization</label>
                            <input type="text" id="url" name="url" placeholder="Insert URL...">
                            <input class="darkpurple-font" type="submit"">
                    </form>
                </div>
            </section>
    </main>

</body>